@import "compass";
@import "partials/variables";
@import "partials/normalize";
* {
  @include box-sizing(border-box);
}

#main-wrap {
  position: relative;
  a {
    color: $brown;
    &:hover {
      color: $orange;
    }
  }
  h1,
  h2 {
    margin: 0px;
  }
  p {
    padding: 0;
  }
  div {
    float: none;
  }
}

#div5:hover {
  @include transform(translateY(50%) scale(0.5));
}